{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="uppercase my-20 bg-blue-500 text-gray-100 text-lg w-1/5 mt-10 font-extrabold py-4 px-8 rounded-3xl">
        {{ button_label|default('Save') }}</button>
{{ form_end(form) }}
