{% extends 'base2.html.twig' %}

{% block title %}Edit Classroom{% endblock %}

{% block body %}
<div class="w-4/5 m-auto text-center">
    <div class="py-6 border-b border-gray-200">
        <h1 class="text-6xl pt-6 pb-5">
            Edit Classroom
        </h1>


    {{ include('classroom/_form.html.twig', {'button_label': 'Update'}) }}


    <a href="{{ path('app_classroom_index') }}"  class="uppercase mr-10 mt-15 bg-red-500 text-gray-100 text-lg w-1/5 mt-10 font-extrabold py-4 px-8 rounded-3xl">back to list</a>

    {{ include('classroom/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}
